@layer theme, base, antd, components, utilities;
@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-primary: #ff6a00;
    --color-primary-border: #ffc599;
    --color-primary-border-hover: #ffaa66;
    --color-primary-hover: #ff8333;
    --color-primary-active: #cc5500;
    --color-primary-text: #ff6a00;
    --color-primary-text-hover: #ff8333;
    --color-primary-text-active: #ed6e13;
    --color-info: #ff6a00;
    --color-primary-bg-hover: #e76e1d;
}

body, html, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}